<!DOCTYPE html>
<html lang="en">

    {% load staticfiles %}

    <head>
        <meta charset="UTF-8">
        <title>MealSloth</title>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

        <style>
			
        </style>
    </head>

    <body>

        {% include './fragment/navbar.html' %}

        <section class="siren-page-about__section-header">

            <div>
                <h2>ABOUT</h2>
            </div>

        </section>

        <section class="siren-page-about__section-body-1">

            <div>
                <div>
                    <h2>What makes a Sloth, and the MealSloth</h2>
                    <div>
                        <h5>We want you to sit back and relax just like a sloth</h5>
                        <br />
                        <h5>We are a mobile food marketplace where you can buy and sell homemade foods</h5>
                        <br />
                        <h5>Yes, without trying hard you can get it! -MealSloth</h5>
                    </div>
                </div>
            </div>

        </section>

        <section class="siren-page-about__section-body-2">

            <div>
                <h4></h4>
                <a></a>
                <p></p>
            </div>
            <div>
                <img src="{% static 'images/about/diagram-cartoon-phone.png' %}" />
            </div>
            <div>
                <h4></h4>
                <a></a>
                <p></p>
            </div>

        </section>

        {% include 'fragment/footer.html' %}

    </body>

</html>