<!DOCTYPE html>
<html lang="en">

    {% load staticfiles %}

    <head>
        <meta charset="UTF-8">
        <title>MealSloth</title>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

        <style>
			
        </style>
    </head>

    <body>

        {% include './fragment/navbar.html' %}

        <section class="siren-page-about__section-header">

            <div>
                <h2>ABOUT</h2>
            </div>

        </section>

        <section class="siren-page-about__section-body-1">

            <div>
                <img src="{% static 'images/about/banner-cartoon-mealsloth-app.png' %}" />
            </div>
            <div>
                <div>
                    <h4></h4>
                    <div>
                        <p></p>
                        <br />
                        <p></p>
                        <br />
                        <p></p>
                    </div>
                </div>
            </div>

        </section>

        {% include 'fragment/footer.html' %}

    </body>

</html>