{% extends 'Siren.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body %}

        <section class="siren-page-about__section-header">

            <div>
                <h2>ABOUT</h2>
            </div>

        </section>

        <section class="siren-page-about__section-body-1">

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <img src="{% static 'images/about/banner-cartoon-mealsloth-app.png' %}"/>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <h2>What makes a MealSloth</h2>
                        <div>
                            <h5>We want you to sit back and relax just like a sloth.</h5>
                            <br/>
                            <h5>We are a mobile food marketplace where you can buy and sell homemade foods.</h5>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="siren-page-about__section-arrow">
            <img src="{% static 'images/arrow-black.png' %}"/>
        </section>

        <section class="siren-page-about__section-body-2">

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <h3>Foodies can search for homecooked meals which are available in their local area, and start
                            placing orders.</h3>
                        <div>
                            <a href="/consumer">I am a Foodie!</a>
                            <p>Click to learn more!</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <img src="{% static 'images/about/diagram-cartoon-phone.png' %}"/>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <h3>Cooking enthusiasts can start selling their homecooked dishes to other people. With
                            MealSloth, you are the chef!</h3>
                        <div>
                            <a href="/producer">I want to cook!</a>
                            <p>Click to learn more!</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="siren-page-about__section-arrow">
            <img src="{% static 'images/arrow-black.png' %}"/>
        </section>

        <section class="siren-page-about__section-body-3">

            <div>
                <div>
                    <div>
                        <iframe src="https://player.vimeo.com/video/145463567" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </section>

        <section class="siren-page-about__section-body-4">

            <div>
                <div>
                    <div>
                        <h2>Healthy</h2>
                        <h2>Cheap</h2>
                        <h2>Convenient</h2>
                        <h2>MealSloth</h2>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <table>
                        <tr>
                            <td><img src="{% static 'images/about/circle-cartoon-phone.png' %}" /></td>
                            <td><h4>We use location tracking to search for home cooked meals available near you</h4></td>
                        </tr>
                        <tr>
                            <td><img src="{% static 'images/about/circle-cartoon-house.png' %}" /></td>
                            <td><h4>We work closely with local cooking enthusiasts to deliver quality meals</h4></td>
                        </tr>
                        <tr>
                            <td><img src="{% static 'images/about/circle-cartoon-message.png' %}" /></td>
                            <td><h4>We want your reviews and comments about the experience. Let us know how it is!</h4></td>
                        </tr>
                        <tr>
                            <td><img src="{% static 'images/about/circle-cartoon-person.png' %}" /></td>
                            <td><h4>We believe that great service means happy people. MealSloth wants happy smiling sloths!</h4></td>
                        </tr>
                    </table>
                </div>
            </div>

        </section>

        <section class="siren-page-about__section-body-5">

            <div>
                <h1>We will be serving you very soon!</h1>
                <br />
                <h3>Connect with us and stay updated</h3>
                <br />
                <div>
                    <div>
                        <h4>Join our mailing list</h4>
                        <h4>We know you're hungry!</h4>
                    </div>
                    <div>
                        <form action="/about/" method="post"> {% csrf_token %}
                            {{ form.email.errors }}
                            {{ form.email }}
                            <input type="submit" value="Subscribe Now" id="submit">
                        </form>
                    </div>
                    {% if warning %}
                    <div>
                        <h3>{{ warning }}</h3>
                    </div>
                    {% endif %}
                </div>
            </div>

        </section>

{% endblock %}