<!DOCTYPE html>
<html lang="en">

    {% load staticfiles %}
    {% load tags %}
    {% load tags_blog %}

    <head>
        <meta charset="UTF-8">
        <title>MealSloth</title>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    </head>

    <body>

        {% include './fragment/navbar.html' %}

        <section class="siren-page-blog__section-body">

            <div>
                {% for blog_post in blog_post_list %}
                <table>
                    <tr>
                        <td>
                            <h3>{% entry_for_key blog_post 'title' %}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>{% post_time_for_blog_post blog_post %} | {% author_for_blog_post blog_post %}</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="{% static 'images/mealsloth-logo.png' %}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>{% entry_for_key blog_post 'short_description' %}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a>Read More</a>
                        </td>
                    </tr>
                </table>
                {% endfor %}
            </div>

            <div>
                <div>
                    <h4>Featured Posts</h4>
                    <table>
                        <tr>
                            <td></td>
                        </tr>
                    </table>
                    <h4>Recent Posts</h4>
                    {% for blog_post in blog_post_list %}
                    <div>
                        <div>
                            <img src="{% static 'images/mealsloth-logo-medium.png' %}" />
                        </div>
                        <div>
                            <h4><a href="/blog-post/{% entry_for_key blog_post 'id' %}">{% entry_for_key blog_post 'title' %}</a></h4>
                            <p>{% post_time_for_blog_post blog_post %}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <h4>Archive</h4>
                    <table>
                        <tr>
                            <td>January 2016 (1)</td>
                        </tr>
                    </table>
                    <h4>Search By Tags</h4>
                    <table>
                        <tr>
                            <td></td>
                        </tr>
                    </table>
                    <h4>Follow Us</h4>
                    <table>
                        <tr>
                            <td>
                                <a href="https://facebook.com/mealsloth" target="_blank">
                                    <img src="{% static 'images/social-media/facebook-mono-color.png' %}"/>
                                </a>
                            </td>
                            <td>
                                <a href="https://twitter.com/mealsloth" target="_blank">
                                    <img src="{% static 'images/social-media/twitter-mono-color.png' %}"/>
                                </a>
                            </td>
                            <td>
                                <a href="https://instagram.com/mealsloth" target="_blank">
                                    <img src="{% static 'images/social-media/instagram-mono-color.png' %}"/>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </section>

        {% include './fragment/footer.html' %}

    </body>

</html>