{% extends 'Siren.html' %}

{% load staticfiles %}
{% load tags %}
{% load tags_blog %}

{% block title %}{% entry_for_key blog_post 'title' %}{% endblock %}

{% block body %}

        <section class="siren-page-blog-post__section-body">

            <div>
                <table>
                    <tr>
                        <td>
                            <h3>{% entry_for_key blog_post 'title' %}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>{% post_time_for_blog_post blog_post %} | {% author_for_blog_post blog_post %}</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="{{ url }}{% gcs_id_for_blog_post blog_post %}"/>
                            {% entry_for_key blog_post 'long_description' %}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="siren-page-blog-post__desktop-only">
                {% include 'fragment/blog-sidebar.html' %}
            </div>

        </section>
{% endblock %}