{% extends 'Siren.html' %}

{% load staticfiles %}
{% load tags %}
{% load tags_blog %}

{% block title %}Blog{% endblock %}

{% block body %}

        <section class="siren-page-blog__section-body">

            <div>
                {% for blog_post in blog_post_list %}
                <table>
                    <tr>
                        <td>
                            <h3><a href="/blog-post/{% entry_for_key blog_post 'id' %}">{% entry_for_key blog_post 'title' %}</a></h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>{% post_time_for_blog_post blog_post %} | {% author_for_blog_post blog_post %}</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/blog-post/{% entry_for_key blog_post 'id' %}">
                                <img src="{{ url }}{% gcs_id_for_blog_post blog_post %}"/>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>{% entry_for_key blog_post 'short_description' %}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/blog-post/{% entry_for_key blog_post 'id' %}">Read More</a>
                        </td>
                    </tr>
                </table>
                {% endfor %}
            </div>

            <div class="siren-page-blog__desktop-only">
                {% include 'fragment/blog-sidebar.html' %}
            </div>

        </section>

{% endblock %}