<!DOCTYPE html>
<html lang="en">

    {% load staticfiles %}

    <head>
        <meta charset="UTF-8">
        <title>MealSloth</title>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    </head>

    <body>

        {% include './fragment/navbar.html' %}

        <section class="siren-page-consumer__section-header">

            <h3>It has never been this easy. -MealSloth</h3>
            <div class="siren-page-consumer__section-header__div-taskflow">
                <img src="{% static 'img/taskflow.png' %}" />
            </div>
            <div>
                <br />
                <img src="{% static 'img/mealsloth-logo-transparent-small.png' %}"/>
                <br />
                <br />
                <a>Follow Us</a>
            </div>

        </section>

        {% include 'fragment/footer.html' %}

    </body>

</html>