{% extends 'Siren.html' %}

{%  load staticfiles %}

{% block title %}Foodie{% endblock %}

{% block body %}

        <section class="siren-page-consumer__section-header">

            <h3>It has never been this easy. -MealSloth</h3>
            <div class="siren-page-consumer__section-header__div-taskflow">
                <img src="{% static 'images/taskflow.png' %}" />
            </div>

            <div>
                <br />
                <h4>Contact us now!</h4>
                <img src="{% static 'images/mealsloth-logo-medium.png' %}"/>
                <br />
                <br />
                <a>Follow Us</a>
            </div>

        </section>

{% endblock %}