<!DOCTYPE html>
<html lang="en">

    {% load staticfiles %}

    <head>
        <meta charset="UTF-8">
        <title>MealSloth</title>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    </head>

    <body>

        {% include './fragment/navbar.html' %}

        <section class="siren-page-contact__section-header">

            <div>
                <img src="{% static 'images/contact/overhead-plate-arugula.png' %}" />
            </div>

        </section>

        <section class="siren-page-contact__section-body-1">

            <div class="container">
                <div class="row">
                    <div class="col-md-offset-4 col-md-3">
                        <h3>Ask us any question now!</h3>
                    </div>
                    <div class="col-md-2">
                        <img src="{% static 'images/mealsloth-logo-medium.png' %}" />
                    </div>
                </div>
            </div>

        </section>

        {% include './fragment/contact-form.html' %}

    </body>

</html>