{% extends 'Siren.html' %}

{%  load staticfiles %}

{% block title %}FAQ{% endblock %}

{% block body %}

        <section class="siren-page-faq__section-header">

            <div>

            </div>

        </section>

        <section class="siren-page-faq__section-body-1">

            <div>
                <h3>Frequently Asked Questions</h3>
                <a data-toggle="collapse" data-target="#siren-page-faq__div-1__collapsible">
                    <span>What is MealSloth? <span class="caret"></span></span>
                </a>
                <div class="collapse" id="siren-page-faq__div-1__collapsible">
                    <p>We are a mobile application platform for iOS and Android where users can buy and sell homecooked
                        meals in their local area and share their passion for food.</p>
                    <table>
                        <tr>
                            <td>
                                <a href="https://facebook.com/mealsloth" target="_blank">
                                    <img src="{% static 'images/social-media/facebook-mono-color.png' %}" />
                                </a>
                            </td>
                            <td>
                                <a href="https://twitter.com/mealsloth" target="_blank">
                                    <img src="{% static 'images/social-media/twitter-mono-color.png' %}" />
                                </a>
                            </td>
                            <td>
                                <a href="https://instagram.com/mealsloth" target="_blank">
                                    <img src="{% static 'images/social-media/instagram-mono-color.png' %}" />
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="siren-page-faq__section-divider"></div>
                <a data-toggle="collapse" data-target="#siren-page-faq__div-2__collapsible">
                    <span>Is MealSloth free? <span class="caret"></span></span>
                </a>
                <div class="collapse" id="siren-page-faq__div-2__collapsible">
                    <p>Yes! Our goal is to connect foodies and cooking enthusiasts around your neighborhood. You will
                        only pay for the food price that's listed above your chosen meal. We will not ask for any
                        additional money. Start exploring now!</p>
                    <table>
                        <tr>
                            <td>
                                <a href="https://facebook.com/mealsloth" target="_blank">
                                    <img src="{% static 'images/social-media/facebook-mono-color.png' %}" />
                                </a>
                            </td>
                            <td>
                                <a href="https://twitter.com/mealsloth" target="_blank">
                                    <img src="{% static 'images/social-media/twitter-mono-color.png' %}" />
                                </a>
                            </td>
                            <td>
                                <a href="https://instagram.com/mealsloth" target="_blank">
                                    <img src="{% static 'images/social-media/instagram-mono-color.png' %}" />
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="siren-page-faq__section-divider"></div>
                <a data-toggle="collapse" data-target="#siren-page-faq__div-3__collapsible">
                    <span>How safe is the food at MealSloth? <span class="caret"></span></span>
                </a>
                <div class="collapse" id="siren-page-faq__div-3__collapsible">
                    <p>We work closely with every home chef to ensure that each kitchen is sanitary and uses high
                        quality food. All of our chefs participate in a screening process before becoming a
                        MealSloth chef which performs checks on criteria equivalent to those in commercial restaurants.
                        We take the safety of our consumers very seriously and provide as much screening as possible to
                        ensure that our chefs take it as seriously as we do. Just like with other popular sharing
                        economy platforms, our customers expect safety and we provide it.</p>
                    <table>
                        <tr>
                            <td>
                                <a href="https://facebook.com/mealsloth" target="_blank">
                                    <img src="{% static 'images/social-media/facebook-mono-color.png' %}" />
                                </a>
                            </td>
                            <td>
                                <a href="https://twitter.com/mealsloth" target="_blank">
                                    <img src="{% static 'images/social-media/twitter-mono-color.png' %}" />
                                </a>
                            </td>
                            <td>
                                <a href="https://instagram.com/mealsloth" target="_blank">
                                    <img src="{% static 'images/social-media/instagram-mono-color.png' %}" />
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="siren-page-faq__section-divider"></div>
                <a data-toggle="collapse" data-target="#siren-page-faq__div-4__collapsible">
                    <span>Can I sell on MealSloth even if I am not a professional chef? <span class="caret"></span></span>
                </a>
                <div class="collapse" id="siren-page-faq__div-4__collapsible">
                    <p>Yes, we want you! We believe that dedication and passion can enable anyone to be a chef. No
                        matter if you are a student, part-time working mother, retired, or even a busy working
                        millennial; if you love cooking and sharing your homemade food with others, we are here to
                        connect you to hundreds of consumers around you. Just let us know your interest
                        <a href="/producer">here</a> and we will get more information for you very soon! </p>
                    <table>
                        <tr>
                            <td>
                                <a href="https://facebook.com/mealsloth" target="_blank">
                                    <img src="{% static 'images/social-media/facebook-mono-color.png' %}" />
                                </a>
                            </td>
                            <td>
                                <a href="https://twitter.com/mealsloth" target="_blank">
                                    <img src="{% static 'images/social-media/twitter-mono-color.png' %}" />
                                </a>
                            </td>
                            <td>
                                <a href="https://instagram.com/mealsloth" target="_blank">
                                    <img src="{% static 'images/social-media/instagram-mono-color.png' %}" />
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="siren-page-faq__section-divider"></div>
                <a data-toggle="collapse" data-target="#siren-page-faq__div-5__collapsible">
                    <span>When will I be able to download the MealSloth app? <span class="caret"></span></span>
                </a>
                <div class="collapse" id="siren-page-faq__div-5__collapsible">
                    <p>MealSloth has been working day and night for months, and we are committed to providing you
                        the best food experience possible. We are excited to launch our first public beta this Spring!
                        <a href="/contact">Connect</a> with us now and sign up for our email newsletter to receive
                        updates about our progress!</p>
                    <table>
                        <tr>
                            <td>
                                <a href="https://facebook.com/mealsloth" target="_blank">
                                    <img src="{% static 'images/social-media/facebook-mono-color.png' %}" />
                                </a>
                            </td>
                            <td>
                                <a href="https://twitter.com/mealsloth" target="_blank">
                                    <img src="{% static 'images/social-media/twitter-mono-color.png' %}" />
                                </a>
                            </td>
                            <td>
                                <a href="https://instagram.com/mealsloth" target="_blank">
                                    <img src="{% static 'images/social-media/instagram-mono-color.png' %}" />
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </section>

        <section class="siren-page-faq__section-body-2">

            <div>

            </div>

        </section>


{% endblock %}
