<!DOCTYPE html>
<html lang="en">

    {% load staticfiles %}

    <head>
        <meta charset="UTF-8">
        <title>MealSloth | FAQ</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <script src="{% static 'js/jquery-1.12.0.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
    </head>

    <body>

        {% include './fragment/navbar.html' %}

        <section class="siren-page-faq__section-header">

            <div>

            </div>

        </section>

        <section class="siren-page-faq__section-body-1">

            <div>
                <h3>Frequently Asked Questions</h3>
                <a data-toggle="collapse" data-target="#siren-page-faq__div-1__collapsible">
                    <span>What is MealSloth? <span class="caret"></span></span>
                </a>
                <div class="collapse" id="siren-page-faq__div-1__collapsible">
                    <p>We are a mobile application platform (IOS, Android) for you to buy and sell homecooked meals and
                        share your passion on food.</p>
                    <table>
                        <tr>
                            <td>
                                <a href="https://facebook.com/mealsloth">
                                    <img src="{% static 'images/social-media/facebook-mono-color.png' %}" />
                                </a>
                            </td>
                            <td>
                                <a href="https://twitter.com/mealsloth">
                                    <img src="{% static 'images/social-media/twitter-mono-color.png' %}" />
                                </a>
                            </td>
                            <td>
                                <a href="https://instagram.com/mealsloth">
                                    <img src="{% static 'images/social-media/instagram-mono-color.png' %}" />
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="siren-page-faq__section-divider"></div>
                <a data-toggle="collapse" data-target="#siren-page-faq__div-2__collapsible">
                    <span>Is MealSloth free? <span class="caret"></span></span>
                </a>
                <div class="collapse" id="siren-page-faq__div-2__collapsible">
                    <p>Yes! Our goal is to connect you and cooking enthusiast around your neighbou hood. You will only
                        pay for the food price that's listed above by the cookers. We will not ask for any money from
                        you. Start exploring now!</p>
                    <table>
                        <tr>
                            <td>
                                <a href="https://facebook.com/mealsloth">
                                    <img src="{% static 'images/social-media/facebook-mono-color.png' %}" />
                                </a>
                            </td>
                            <td>
                                <a href="https://twitter.com/mealsloth">
                                    <img src="{% static 'images/social-media/twitter-mono-color.png' %}" />
                                </a>
                            </td>
                            <td>
                                <a href="https://instagram.com/mealsloth">
                                    <img src="{% static 'images/social-media/instagram-mono-color.png' %}" />
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="siren-page-faq__section-divider"></div>
                <a data-toggle="collapse" data-target="#siren-page-faq__div-3__collapsible">
                    <span>How safe is the food at MealSloth? <span class="caret"></span></span>
                </a>
                <div class="collapse" id="siren-page-faq__div-3__collapsible">
                    <p>Indeed! We work closely to every home chef to ensure their kitchen sanitary and quality of the
                        food. All of our chef will need to pass throuigh a list of screening process before becoming a
                        MealSloth chef. We take quality and safety of our consumers very serious. Just like other
                        sharing economy platform (Uber, Airbnb, etc). We go even further because we know how important
                        it's to keep everyone safe and happy. </p>
                    <table>
                        <tr>
                            <td>
                                <a href="https://facebook.com/mealsloth">
                                    <img src="{% static 'images/social-media/facebook-mono-color.png' %}" />
                                </a>
                            </td>
                            <td>
                                <a href="https://twitter.com/mealsloth">
                                    <img src="{% static 'images/social-media/twitter-mono-color.png' %}" />
                                </a>
                            </td>
                            <td>
                                <a href="https://instagram.com/mealsloth">
                                    <img src="{% static 'images/social-media/instagram-mono-color.png' %}" />
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="siren-page-faq__section-divider"></div>
                <a data-toggle="collapse" data-target="#siren-page-faq__div-4__collapsible">
                    <span>Can I sell on MealSloth even if I am not a professional chef? <span class="caret"></span></span>
                </a>
                <div class="collapse" id="siren-page-faq__div-4__collapsible">
                    <p>Yes, we want you! We believe in passion and we know everyone can be a chef. No matter you are a
                        student, part-time mother, retired folks or even just a working millennials; if you love
                        cooking and sharing your home made foods with other, we are here to connect you to hundred of
                        consumers around you. Just submit your interested form Here and we will get back to you very
                        soon! </p>
                    <table>
                        <tr>
                            <td>
                                <a href="https://facebook.com/mealsloth">
                                    <img src="{% static 'images/social-media/facebook-mono-color.png' %}" />
                                </a>
                            </td>
                            <td>
                                <a href="https://twitter.com/mealsloth">
                                    <img src="{% static 'images/social-media/twitter-mono-color.png' %}" />
                                </a>
                            </td>
                            <td>
                                <a href="https://instagram.com/mealsloth">
                                    <img src="{% static 'images/social-media/instagram-mono-color.png' %}" />
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="siren-page-faq__section-divider"></div>
                <a data-toggle="collapse" data-target="#siren-page-faq__div-5__collapsible">
                    <span>When will I be able to download the MealSloth app? <span class="caret"></span></span>
                </a>
                <div class="collapse" id="siren-page-faq__div-5__collapsible">
                    <p>We have been working on this project for the past 5 months and we are committed to provide you
                        the best food experience that you can get. Yes, we will launch our first beta this year.
                        Connect with us now and sign up for our email newsletter for our latest update!</p>
                    <table>
                        <tr>
                            <td>
                                <a href="https://facebook.com/mealsloth">
                                    <img src="{% static 'images/social-media/facebook-mono-color.png' %}" />
                                </a>
                            </td>
                            <td>
                                <a href="https://twitter.com/mealsloth">
                                    <img src="{% static 'images/social-media/twitter-mono-color.png' %}" />
                                </a>
                            </td>
                            <td>
                                <a href="https://instagram.com/mealsloth">
                                    <img src="{% static 'images/social-media/instagram-mono-color.png' %}" />
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </section>

    </body>

</html>
