{% extends 'Siren.html' %}

{%  load staticfiles %}

{% block title %}Home{% endblock %}

{% block body %}


        <section class="siren-page-home__section-header">

            <a name="firstpage"></a>

            <div>
                <h3>MealSloth</h3>
                <h5>Order from your neighbor's kitchen</h5>
                <a href="#secondpage" id="siren-page-home__smooth-scroll">Coming Soon</a>
                <div>
                    <a href="https://www.facebook.com/mealsloth/" target="_blank">
                        <img src="{% static 'images/social-media/facebook-ellipse-mono.png' %}" />
                    </a>
                    <a href="https://www.instagram.com/mealsloth/" target="_blank">
                        <img src="{% static 'images/social-media/instagram-ellipse-mono.png' %}" />
                    </a>
                    <a href="https://www.twitter.com/mealsloth/" target="_blank">
                        <img src="{% static 'images/social-media/twitter-ellipse-mono.png' %}" />
                    </a>
                </div>
            </div>

        </section>

        <section class="siren-page-home__section-body-1 siren-page-home__desktop-only">

            <a name="secondpage"></a>

            <h4>What is MealSloth?</h4>

            <table>
                <tr>
                    <td>
                        <img src="{% static 'images/home/producer-customer-exchange.jpg' %}" />
                    </td>
                    <td>
                        <div>
                            <h5>An app which allows you to buy and sell homemade food</h5>
                            <img src="{% static 'images/home/ellipse-smartphone-chat.png' %}" alt="smartphone"/>
                            <p>MealSloth connects foodies and cooking enthusiasts to promote superior
                                quality home cooked meals to everyone. With MealSloth, anyone can be
                                a chef, and everyone has access to fresh homemade food!</p>
                        </div>
                    </td>
                </tr>
            </table>

        </section>

        <section class="siren-page-home__section-body-1 siren-page-home__mobile-only">

            <a name="secondpage"></a>

            <h4>What is MealSloth?</h4>

            <table>
                <tr>
                    <td>
                        <img src="{% static 'images/home/producer-customer-exchange.jpg' %}" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <h5>An app which allows you to buy and sell homemade food</h5>
                            <img src="{% static 'images/home/ellipse-smartphone-chat.png' %}" alt="smartphone"/>
                            <p>MealSloth connects foodies and cooking enthusiasts to promote superior
                                quality home cooked meals to everyone. With MealSloth, anyone can be
                                a chef, and everyone has access to fresh homemade food!</p>
                        </div>
                    </td>
                </tr>
            </table>

        </section>

        <section class="siren-page-home__section-body-2-desktop">

            <a name="thirdpage"></a>

            <div>
                <div>
                    <h4>Mission</h4>
                    <div class="col-md-offset-3 col-md-6 col-xs-offset-1 col-xs-10">
                        <table>
                            <tr class="siren-page-home__section-body-2-desktop__tr-img">
                                <td><img src="{% static 'images/home/ellipse-money-color.png' %}" alt="save" /></td>
                                <td><img src="{% static 'images/home/ellipse-heart-color.png' %}" alt="healthy" /></td>
                                <td><img src="{% static 'images/home/ellipse-smartphone-color.png' %}" alt="connect" /></td>
                            </tr>
                            <tr class="siren-page-home__section-body-2-desktop__tr-shc">
                                <td>Save</td>
                                <td>Healthy</td>
                                <td>Connect</td>
                            </tr>
                            <tr class="siren-page-home__section-body-2-desktop__tr-desc">
                                <td>Money is an important concern for people who enjoy eating out.
                                    We are here to help you save and even earn some extra cash</td>
                                <td>Commercially made meals are mostly unhealthy. We want to make
                                    sure you get to enjoy homemade dishes.</td>
                                <td>There is no open platform for people to buy and sell homemade
                                    dishes. We are here to connect you all.</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </section>

        <section class="siren-page-home__section-body-2-mobile">

            <a name="thirdpage"></a>

            <div>
                <div>
                    <h4>Mission</h4>
                    <div class="col-md-offset-3 col-md-6 col-xs-offset-1 col-xs-10">
                        <table>
                            <tr>
                                <td><img src="{% static 'images/home/ellipse-money-color.png' %}" alt="save" /></td>
                            </tr>
                            <tr class="siren-page-home__section-body-2-mobile__tr-shc">
                                <td>Save</td>
                            </tr>
                            <tr class="siren-page-home__section-body-2-mobile__tr-desc">
                                <td>Money is an important concern for people who enjoy eating out.
                                    We are here to help you save and even earn some extra cash</td>
                            </tr>
                            <tr>
                                <td><img src="{% static 'images/home/ellipse-heart-color.png' %}" alt="healthy" /></td>
                            </tr>
                            <tr class="siren-page-home__section-body-2-mobile__tr-shc">
                                <td>Healthy</td>
                            </tr>
                            <tr class="siren-page-home__section-body-2-mobile__tr-desc">
                                <td>Commercially made meals are mostly unhealthy. We want to make
                                    sure you get to enjoy homemade dishes.</td>
                            </tr>
                            <tr>
                                <td><img src="{% static 'images/home/ellipse-smartphone-color.png' %}" alt="connect" /></td>
                            </tr>
                            <tr class="siren-page-home__section-body-2-mobile__tr-shc">
                                <td>Connect</td>
                            </tr>
                            <tr class="siren-page-home__section-body-2-mobile__tr-desc">
                                <td>There is no open platform for people to buy and sell homemade
                                    dishes. We are here to connect you all.</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </section>

        <section class="siren-page-home__section-body-3">

            <a name="fourthpage"></a>

            <div>
                <div>
                    <iframe src="https://player.vimeo.com/video/145462667" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>

        </section>

        <section class="siren-page-home__section-body-4">

            <a name="fifthpage"></a>

            <div>
                <div class="siren-page-home__section-body-4__shaded">
                    <h2>Love Cooking?</h2>
                    <h6>You can even become a part time home chef and earn some extra cash now.</h6>
                </div>
                <div class="siren-page-home__buffer"></div>
                <a href="/producer">Learn How</a>
            </div>

        </section>

        <section class="siren-page-home__section-body-5-desktop">

            <a name="sixthpage"></a>

            <div>
                <h2>Meet The Team</h2>
                <div></div>
                <table>
                    <tr>
                        <td><img src="{% static 'images/team-photos/michael-profile.png' %}" alt="michael" /></td>
                        <td><img src="{% static 'images/team-photos/phren-profile.png' %}" alt="phren" /></td>
                        <td><img src="{% static 'images/team-photos/yunbo-profile.png' %}" alt="yunbo" /></td>
                    </tr>
                    <tr>
                        <td><h5>Michael Fourre</h5></td>
                        <td><h5>Phren Soh</h5></td>
                        <td><h5>Yunbo Cai</h5></td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://www.linkedin.com/in/michael-fourré-57369099" target="_blank">
                                <img src="{% static 'images/social-media/linkedin-mono.png' %}" />
                            </a>
                        </td>
                        <td>
                            <a href="https://www.linkedin.com/in/phren-soh-a5757772" target="_blank">
                                <img src="{% static 'images/social-media/linkedin-mono.png' %}" />
                            </a>
                        </td>
                        <td>
                            <a href="https://www.linkedin.com/in/yunbo-cai-58752a58" target="_blank">
                                <img src="{% static 'images/social-media/linkedin-mono.png' %}" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><p>Michael is CIO and co-founder of MealSloth. He leads the tech side of MealSloth in creating and enhancing all mobile and web applications.</p></td>
                        <td><p>Phren is COO and co-founder of MealSloth. He leads marketing and human resources to bring MealSloth to the public light with peak efficiency.</p></td>
                        <td><p>Yunbo is CFO of MealSloth. He leads financial strategy and advises business motives in order to safely and effectively grow MealSloth as a company.</p></td>
                    </tr>
                </table>
            </div>

        </section>

        <section class="siren-page-home__section-body-5-mobile">

            <a name="sixthpage"></a>

            <div>
                <h2>Meet The Team</h2>
                <table>
                    <tr>
                        <td><img src="{% static 'images/team-photos/michael-profile.png' %}" alt="michael" class="siren-page-home__section-body-5__profile" /></td>
                    </tr>
                    <tr>
                        <td><h5>Michael Fourre</h5></td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://www.linkedin.com/in/michael-fourré-57369099" target="_blank" alt="linkedin">
                                <img src="{% static 'images/social-media/linkedin-mono.png' %}" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><p>Michael is CIO and co-founder of MealSloth. He leads the tech side of MealSloth in creating and enhancing all mobile and web applications.</p></td>
                    </tr>
                    <tr>
                        <td><img src="{% static 'images/team-photos/phren-profile.png' %}" alt="phren" class="siren-page-home__section-body-5__profile" /></td>
                    </tr>
                    <tr>
                        <td><h5>Phren Soh</h5></td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://www.linkedin.com/in/phren-soh-a5757772" target="_blank" alt="linkedin">
                                <img src="{% static 'images/social-media/linkedin-mono.png' %}" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><p>Phren is COO and co-founder of MealSloth. He leads marketing and human resources to bring MealSloth to the public light with peak efficiency.</p></td>
                    </tr>
                    <tr>
                        <td><img src="{% static 'images/team-photos/yunbo-profile.png' %}" alt="yunbo" class="siren-page-home__section-body-5__profile" /></td>
                    </tr>
                    <tr>
                        <td><h5>Yunbo Cai</h5></td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://www.linkedin.com/in/yunbo-cai-58752a58" target="_blank" alt="linkedin">
                                <img src="{% static 'images/social-media/linkedin-mono.png' %}" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><p>Yunbo is CFO of MealSloth. He leads financial strategy and advises business motives in order to safely and effectively grow MealSloth as a company.</p></td>
                    </tr>
                </table>
            </div>

        </section>

        <section class="siren-page-home__section-body-6">

            <a name="seventhpage"></a>

            <div>
                <h3>Being slothful and don't feel like moving? It only takes one click to stay updated with our project.</h3>
                <div>
                    <h4>Join our mailing list and never miss an update</h4>
                    <form action="/" method="post"> {% csrf_token %}
                        <div>
                            <table>
                                <tr>
                                    <td>
                                        {{ form.email.errors }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form.email }}
                                    </td>
                                    <td>
                                        <input type="submit" value="Subscribe" id="submit">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </form>
                    {% if warning %}
                    <h3>{{ warning }}</h3>
                    {% endif %}
                </div>
            </div>

        </section>



{% endblock %}
