{% extends 'Siren.html' %}

{%  load staticfiles %}

{% block title %}Cooking Enthusiast{% endblock %}

{% block body %}

        <section class="siren-page-producer__section-header">

            <div class="siren-page-producer__section-header__head">
                <div class="siren-page-producer__mobile-only">
                    <img src="{% static 'images/home/banner-food-preparation-dim.png' %}"/>
                </div>
                <div class="siren-page-producer__desktop-only">
                    <img src="{% static 'images/producer/overhead-food-presentation-salmon.png' %}"/>
                </div>
                <br />
                <h3>We don't need professional chefs. <span style="color:darkred">We need cooking enthusiasts!</span> </h3>
                <h3>Join us to earn some extra cash while cooking at home.</h3>
            </div>

        </section>

        {% include 'fragment/contact-form.html' with form=form %}

        <div style="height:80px"></div>

{% endblock %}