<html>

    <head>
        <title>MealSloth</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        {%  load staticfiles %}
        <link rel="stylesheet" type="type/css" href="{{ STATIC_URL }}css/App/style.css" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/App/style.css' %}" />
    </head>

    <body>

        <a name="top"/>

        <div class="banner">

            <div class="container-fluid banner">

                <div class="row" id="nav">
                    <div class="col-xs-0 col-md-6 col-lg-9">

                    </div>
                    <div class="col-xs-4 col-md-2 col-lg-1 text-center">
                        <p>
                            <a href="home.html" class="btn btn-info" role="button">HOME</a>
                        </p>
                    </div>
                    <div class="col-xs-4 col-md-2 col-lg-1 text-center">
                        <p>
                            <a href="about.html" class="btn btn-info" role="button">ABOUT</a>
                        </p>
                    </div>
                    <div class="col-xs-4 col-md-2 col-lg-1 text-center">
                        <p>
                            <a href="contact-us.php" class="btn btn-info" role="button">CONTACT</a>
                        </p>
                    </div>
                </div>

                <div class="row" style="position:relative">
                    <div style="position:absolute" z-index="9">
                        <img src="img/App/BannerHomeSmall2.jpg" alt="MealSloth_Banner" width="100%"/>
                    </div>
                    <div class="centerpage" style="position:relative" z-index="10">
                        <img src="img/App/MealSlothLogoCharlie2Transparent.png" alt="MealSloth_Logo" width="30%" height="70%"/>
                        <h1>MealSloth</h1>
                    </div>
                </div>

                <div class="row addmargin">
                    <div class="col-xs-0 col-md-3 col-lg-4">

                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4">
                        <p id="description">Our goal is to provide a platform for people to buy and sell home cooked meals.</p>
                    </div>
                    <div class="col-xs-0 col-md-3 col-lg-4">

                    </div>
                </div>

                <div class="row">
                    <img src="img/App/BannerHome2Small.jpg" alt="Banner" width="100%" style="position:absolute"/>
                </div>

                <div class="row" style="position:relative">
                    <div style="position:absolute" z-index="11">
                        <img src="img/App/BannerHome2Small.jpg" alt="Banner" width="100%"/>
                    </div>
                    <div class="centerpageadjust" style="position:relative" z-index="12" text-align="center">
                      <p id="description2">We make getting food</p>
                        <p id="description2">easy by making the</p>
                        <p id="description2">MealSloth app easy.</p>
                    </div>
                </div>

                <div class="row centerpage3" text-align="center">
                   <div class="col-md-12" text-align="center">
                        <h1 class="dark">How It Works</h1>
                    </div>
                </div>

                <div class="row centerpage2">
                  <div class="col-md-12">
                        <img src="img/App/TaskFlowXXSmall.png" alt="Task_Flow" width="80%" height="80%"/>
                    </div>
                </div>

                <div class="row centerpage4">
                   <div class="col-md-12">
                        <h2>Like MealSloth? Contact us <a href="contact-us.php">here</a>.</h2>
                    </div>
                </div>

                <div class="row homefooter">
                    <div class="col-md-4 col-xs-4 homefooter2">
                        <a href="""#top" class="smalllink"><p id="smallnotice1">Back to top</p></a>
                        <p id="smallnotice2">&#169;MealSloth 2015. All rights reserved.</p>
                    </div>
                </div>

            </div>

        </div>

    </body>

</html>
