@import "../imports";

section.siren-fragment-contact-form__section-contact-form
{
    margin: 0 auto;
    width: 50%;

    > form
    {
        border: 1px solid black;
        text-align: center;
        padding: 25px;
        width: 50%;
        margin: 0 auto;

        input
        {
            margin: 10px;
        }
    }

    br
    {
        height: 0;
    }
}