{% load staticfiles %}

<section class="siren-fragment-navbar__section-navbar">

    <div>
        <img src="{% static 'img/mealsloth-logo-small.png' %}" alt="mealsloth-logo" />
        <h5>MealSloth</h5>
        <table>
            <tr>
                <td><a href="/">Home</a></td>
                <td><a href="/about">About</a></td>
                <td><a href="/blog">Blog</a></td>
                <td><a href="/contact">Contact</a></td>
                <td class="siren-fragment-navbar__section-navbar__td-space"></td>
            </tr>
        </table>
    </div>

</section>