@import "../bootstrap/bootstrap";

section.siren-page-producer__section-header
{
    padding: 0 0 0 0;
    width: 100%;

    h3
    {
        align: center;
        padding: 0 0 0 0;
        font-family: "Niconne Regular", serif;
        font-size: 42px;
        width: 100%;

        @media (max-width: @screen-md-min)
        {

            font-size: 78px;
        }
    }

    > div.siren-page-producer__section-header__head
    {
        padding: 45px 0 40px 0;
        margin: 0 auto;
        text-align: center;

        width: 80%;

        @media (max-width: @screen-md-min)
        {
            padding: 120px 0 0 0;
            width: 90%;
        }

        img
        {
            background-color: rgba(253,253,253,1.0);
            max-height: 100%;
            max-width: 100%;
            display: block;
            margin: auto;
            height: auto;
            width: auto;

        }




    }

    >div.siren-page-producer__section-header__form
    {
        padding: 0 0 100px 0;
        text-align: center;
        width: 100%;

        >a
        {
            padding: 15px 20px 15px 150px;
            background-color: darkred;
            font-size: 16px;
            color: white;
        }
    }
}