@import "../bootstrap/bootstrap";

section.siren-page-producer__section-header
{
    padding: 100px 0 0 0;
    width: 100%;

    h3
    {
        padding: 20px 0 0 0;
        font-size: 32px;
        width: 70%
    }

    > div.siren-page-producer__section-header_head
    {
        text-align: center;
        margin: 0 auto;
        width: 80%;

        @media (max-width: @screen-md-min)
        {
            width: 90%;
        }

        img
        {

        }
    }
}