@import "../bootstrap/bootstrap";

//body.siren-page-about__body {
//    background: url("/static/img/about/overhead-bowl-corn.jpg") no-repeat fixed;
//    background-size: 100%;
//    height: 400px;
//    width: 100%;
//
//
//    transform: translate(0, -300px);
//}

section.siren-page-about__section-header
{
    div
    {
        height: 350px;
        width: 83%;
        overflow: hidden;
        position: relative;
        text-align: center;
        margin: 0 auto;

        img
        {
            position: absolute;
            background-color: rgba(253, 253, 253, 1.0);
            transform: translate(0, -370px);
            max-width: 100%;
            display: block;
            margin: auto;
        }

        h3
        {
            position: absolute;
            text-align: center;
            font-size: 70px;
            top: 150px;
            width: 100%;
            color: rgba(253,253,253,1.0);
        }
    }
}

section.siren-page-about__section-body1
{
    div
    {
        position: relative;

        img
        {
            position: absolute;
            top: 120px;
            left: 230px;
        }

        h5
        {
            position: absolute;
            font-size: 19px;
            width: 37%;
            top: 80px;
            left: 580px;
        }
    }
}