@import "../imports";

section.siren-page-contact__section-header {
    width: 100%;


    > div
    {
        padding: 45px 0 40px 0;
        margin: 0 auto;
        text-align: center;

        width: 80%;

        @media (max-width: @screen-md-min)
        {
            padding: 120px 0 0 0;
            width: 100%;
        }

        img
        {
            background-color: rgba(253, 253, 253, 1.0);
            max-height: 100%;
            max-width: 100%;
            display: block;
            margin: auto;
            height: auto;
            width: auto;

            @media (max-width: @screen-md-min)
            {

            }

        }
    }
}

section.siren-page-contact__section-body-1
{

    @media (max-width: @screen-md-min)
    {
        padding: 40px 0 40px 0;
    }

    h3
    {
        align: center;
        padding: 40px 0 0 0;
        font-family: "Niconne Regular", serif;
        font-size: 52px;
        width: 100%;

        @media (max-width: @screen-md-min)
        {
            font-size: 64px;
        }



    }
}