@import "../bootstrap/bootstrap";

section.siren-page-about__section-header
{
    div
    {
        height: 350px;
        width: 83%;
        overflow: hidden;
        position: relative;
        text-align: center;
        margin: 0 auto;

        img
        {
            position: absolute;
            background-color: rgba(253, 253, 253, 1.0);
            transform: translate(0, -370px);
            max-width: 100%;
            display: block;
            margin: auto;
            right: 0;
            left: 0;
            top: 0;
        }

        h3
        {
            position: absolute;
            text-align: center;
            font-size: 70px;
            right: 0;
            left: 0;
            top: 150px;
            width: 100%;
            color: rgba(253,253,253,1.0);
        }
    }
}

section.siren-page-about__section-body1
{
    > div
    {
        > div
        {
            > div
            {
                text-align: center;

                img
                {

                }

                h5
                {
                    padding: 0 150px 0 0;
                    text-align: left;

                    @media (max-width: @screen-md-min) { text-align: center; }
                }
            }
        }
    }
}