@import "../imports";

section.siren-page-consumer__section-header
{
    padding: 40px 0 0 0;
    width: 100%;
    @media (max-width: @screen-md-min)
    {
        padding: 140px 0 0 0;
    }

    h3
    {
        padding: 0 0 40px 150px;
        font-size: 32px;
        font-family: "Niconne Regular";

        @media (max-width: @screen-md-min)
        {
            padding: 20px;
            font-size: 68px;
        }
    }

    h4
    {
        padding: 20px 0 0 0;
        font-size: 30px;
        font-family: "Lobster";
        color: darkred;

        @media (max-width: @screen-md-min)
        {
            padding: 0 0 15px 0;
            font-size: 45px;
        }
    }



    > div.siren-page-consumer__section-header__div-taskflow
    {
        text-align: center;
        margin: 0 auto;
        width: 40%;

        @media (max-width: @screen-md-min)
        {
            width: 90%;
        }

        img
        {
            background-color: rgba(253,253,253,1.0);
            max-height: 100%;
            max-width: 100%;
            display: block;
            margin: auto;
            height: auto;
            width: auto;

        }
    }

    > div
    {
        padding: 0 0 100px 0;
        text-align: center;
        width: 100%;



        > img
        {
            height: 50px;
            width: 50px;
            @media (max-width: @screen-md-min)
            {
                height: 120px;
                width: 120px;
            }
        }

        > a
        {
            padding: 15px 20px 15px 20px;
            border: 2px solid black;
            font-size: 16px;
            color: black;

            @media (max-width: @screen-md-min)
            {
                padding: 30px 45px 30px 45px;
                font-size: 48px;
            }

        }

        > a:hover
        {
            background-color: black;
            text-decoration: none;
            cursor: pointer;
            color: grey;
        }
    }
}