@import "../bootstrap/bootstrap";

div.siren-page-about__desktop-only { @media (max-width: @screen-md-min) { display: none; } }

div.siren-page-about__mobile-only { @media (min-width: @screen-md-min) { display: none; } }

section.siren-page-about__section-header
{
    div
    {
        height: 350px;
        width: 83%;
        overflow: hidden;
        position: relative;
        text-align: center;
        margin: 0 auto;

        @media (max-width: @screen-md-min)
        {
            margin: 0 0 50px 0;
            height: 700px;
            width: 100%;
        }

        img
        {
            position: absolute;
            background-color: rgba(253, 253, 253, 1.0);
            transform: translate(0, -370px);
            max-width: 100%;
            display: block;
            margin: auto;
            right: 0;
            left: 0;
            top: 0;

            @media (max-width: @screen-md-min)
            {
                transform: translate(0, -100px);
            }
        }

        h3
        {
            position: absolute;
            text-align: center;
            font-size: 70px;
            right: 0;
            left: 0;
            top: 150px;
            width: 100%;
            color: rgba(253,253,253,1.0);

            @media (max-width: @screen-md-min)
            {
                font-size: 130px;
                top: 300px;
            }
        }

        div.siren-page-about__mobile-img
        {
            @media (max-width: @screen-md-min)
            {
                background: url("/static/img/about/overhead-bowl-corn.jpg") rgba(100,100,100,0.9) no-repeat;
                background-size: 100%;
                height: 100%;
                width: 100%;
            }

            img
            {
                @media (max-width: @screen-md-min) { display: none; }
            }
        }

        div.siren-page-about__mobile-dim
        {
            background-color: rgba(0,0,0,0.4);
            height: 100%;
            width: 100%;

            @media (min-width: @screen-md-min)
            {
                display: none;
            }
        }
    }
}

section.siren-page-about__section-body1
{
    padding: 25px 0 100px 0;

    > div
    {
        > div
        {
            > div
            {
                text-align: center;

                img
                {
                    padding: 100px 0 0 190px;

                    @media (max-width: @screen-md-min)
                    {
                        width: 50%;
                        padding: 30px 0 0 0;
                    }
                }

                h5
                {
                    padding: 60px 200px 0 70px;
                    text-align: left;
                    font-size: 20px;

                    @media (max-width: @screen-md-min)
                    {
                        padding: 20px 10px 0 10px;
                        text-align: center;
                        font-size: 36px;
                    }
                }
            }
        }
    }
}