{% load staticfiles %}

<section class="siren-fragment-footer__section-footer">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-xs-4">
                <ul>
                    <li>Contact:</li>
                    <li>1101 Crab Orchard Dr #2A</li>
                    <li>Raleigh, NC 27606</li>
                    <li>704-254-9468</li>
                </ul>
                <br />
                <h6>&copy; MealSloth 2015. All rights reserved.</h6>
            </div>
            <div class="col-md-2 col-xs-4">
                <table>
                    <tr>
                        <td>
                            <a href="https://facebook.com/mealsloth" target="_blank">
                                <img src="{% static 'images/social-media/facebook-mono-color.png' %}" alt="facebook" />
                            </a>
                        </td>
                        <td>
                            <a href="https://twitter.com/mealsloth" target="_blank">
                                <img src="{% static 'images/social-media/twitter-mono-color.png' %}" alt="twitter" />
                            </a>
                        </td>
                        <td>
                            <a href="https://instagram.com/mealsloth" target="_blank">
                                <img src="{% static 'images/social-media/instagram-mono-color.png' %}" alt="instagram" />
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</section>