html, body {
	background-color: rgb(230,230,230);
	margin: 0;
	padding: 0;
	border: 0;
}

#bannerrow {
	height: 42em;
	width: 100%;
	margin: 0;
	padding: 0;
}

#bannerino {
	height: 42em;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: rgba(0,0,0,0.7);
}

#nav {
	background-color: rgba(0,0,0,0.8);
}

#transparent {
	background-color: rgba(50,50,50,0.4);
}

a.btn {
	margin-top: 0.75em;
	background-color: rgba(182,13,13,0.4);
	border: 1px solid rgba(0,0,0,0.7);
	height: 100%;
	width: 80%;
}

a.smalllink {
	font-size:1em;
}

a.btn:hover {
	margin-top: 0.75em;
	background-color: rgba(182,13,13,0.8);
	border: 1px solid rgba(0,0,0,0.95);
}

button.btn {
	text-align: center;
	color: rgba(200,200,200,1.0);
	font-size: 1em;
	margin-top: 10%;
	margin-bottom: 0;
}

.banner {
	height: 10em;
	width: 100%;
}

.bannerwide {
	width: 100%;
}

.centerpage {
	margin-top: 5vw;
	margin-left: 41vw;
}

.centerpage2 {
	margin-top: 0vw;
	margin-left: 20vw;
}

.centerpage3 {
	margin-top: 14vw;
	margin-left: 38vw;
}

.centerpage4 {
	margin-top: 4vw;
	margin-left: 36vw;
	margin-bottom: 2vw;
}

.centerpage5 {
	margin-top: 4vw;
	margin-left: 38vw;
	margin-bottom: 2vw;
}

.centerpageadjust {
	margin-top: 10vw;
	margin-left: 0vw;
}

.bumpimage {
	margin-left: 3vw;
}

.bumpimage2 {
	margin-top: 1vw;
	margin-left: 3vw;
}

.addmargin {
	margin-top: 10vw;
	margin-bottom: 10vw;
}


p#description2 {
	font-size: 3em;
	text-align: center;
	color: rgba(230,230,230,0.7);
}
p#description {
	font-size: 3em;
	text-align: center;
}

p#smallnotice1 {
	font-size: 1.5em;
	text-align: center;
	color: rgba(255,255,255,0.7);
	padding-top: 1.2em;
}

p#smallnotice2 {
	font-size: 1em;
	text-align: center;
	color: rgba(255,255,255,0.7);
	padding-top: 1em;
}

.homefooter {
	border-top: 0.2em solid rgba(150,150,150,0.8);
	background-color: rgba(182,13,13,1.0);
	height: 8em;
	width: 98.92vw;
}

.homefooter2 {
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
}

.homefooter12 {
	border-top: 0.2em solid rgba(150,150,150,0.8);
	background-color: rgba(182,13,13,1.0);
	height: 8em;
	width: 99.71vw;
	margin-top: 40vw;
}

.homefooter22 {
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
}

h1 {
	color: rgba(230,230,230,0.7);
	font-size: 5em;
	margin-left: auto;
	margin-right: auto;
}

h1.dark {
	color: rgba(0,0,0,0.8);
}

#fullsize {
	width: 100%;
	height: 100%;
}

.centeredtable {
	margin-top: 12vw;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-bottom: 10vw;
	width: 60vw;
	height: 30vw;
	text-align: center;
}

.bigrow {
	height: 16vw;
}

.smallrow {
	height: 2vw;
}

.tableimage {
	width: 16vw;
	height: 16vw;
}

td p {
	font-size: 2em;
	color: rgba(30,30,30,0.9);
}

h1.slight {
	color: rgba(230,230,230,0.7);
	font-size: 4.5em;
	margin-left: auto;
	margin-right: auto;
}