<!DOCTYPE html>
<html lang="en">

    {% load staticfiles %}

    <head>
        <meta charset="UTF-8">
        <title>MealSloth | 500 - Server Error</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <script src="{% static 'js/jquery-1.12.0.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
    </head>

    <body>

        {% include './fragment/navbar.html' %}

        <section class="siren-500__section-header siren-500__section-padding">

            <div>
                <table>
                    <tr>
                        <td>
                            <img src="{% static 'images/mealsloth-logo-medium.png' %}" />
                        </td>
                        <td>
                            <h3>500 - Server Error</h3>
                        </td>
                    </tr>
                </table>
                <p>Uh oh! Something went wrong. We have been notified and are looking into the problem now.</p>
            </div>

        </section>

        <section class="siren-500__section-body-1 siren-500__section-padding">

            <div>
                <p>Please try the following:</p>
                <ul>
                    <li>Please try again later as our services may be restored at that time.</li>
                    <li>Open the <a href="/">MealSloth</a> home page and learn more about MealSloth.</li>
                    <li>Click the <a onclick="goBack()">Back</a> button to try another link.</li>
                    <script>
                        function goBack() {
                            window.history.back();
                        }
                    </script>
                </ul>
            </div>

        </section>

        {% include 'fragment/footer.html' %}

    </body>

</html>
