<!DOCTYPE html>
<html lang="en">

    {% load staticfiles %}

    <head>
        <meta charset="UTF-8">
        <title>MealSloth</title>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

        <style>
			
        </style>
    </head>

    <body>

        {% include './fragments/navbar.html' %}

        <section class="siren-page-about__section-header">

            <div class="siren-page-about__mobile-img">
                <img src="{% static 'img/about/overhead-bowl-corn.jpg' %}" alt=""/>
                <div class="siren-page-about__mobile-dim"></div>
                <h3>MealSloth</h3>
            </div>

        </section>

        <section class="siren-page-about__section-body1">

            <div class="container-fluid">
                <div class="row">

                    <div class="col-xs-12 siren-page-about__mobile-only">
                        <h5>In the modern world, we all crave delicious meals and at <b>MealSloth</b> quality meals are
                            our top priority. We have engineered a platform for connecting the common home chef with
                            people who crave delicious home cooked meals.</h5>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <img src="{% static 'img/about/smartphone-with-mealsloth-logo.png' %}" alt="smartphone-with-logo"/>
                    </div>
                    <div class="col-xs-12 siren-page-about__mobile-only">
                        <h5>
                            We realize that no matter where we are, hearty home cooking is always the best,
                            so we want to make it available to everyone. As a group of driven university students,
                            the <b>MealSloth</b> team emphasizes not only the food itself, but also ensures everything
                            from the production to the consumption of the food is taken care of.
                            <br/><br/>
                            We can provide a high level of safety, quality, and affordability by keeping directly in
                            touch with the provider and consumers. At <b>MealSloth</b>, our customers are the most
                            important part of the company, and we hope that you will be able to see that by your
                            experience with us. We hope you can join us and find some of the best home cooked meals
                            in your area! We believe sharing is caring, and will go to any extent to provide the
                            sharing opportunity for you all.
                        </h5>
                    </div>
                    <div class="col-md-8 siren-page-about__desktop-only">
                        <h5>
                            In the modern world, we all crave delicious meals and at <b>MealSloth</b> quality meals are
                            our top priority. We have engineered a platform for connecting the common home chef with
                            people who crave delicious home cooked meals.
                            <br/><br/>
                            We realize that no matter where we are, hearty home cooking is always the best,
                            so we want to make it available to everyone. As a group of driven university students,
                            the <b>MealSloth</b> team emphasizes not only the food itself, but also ensures everything
                            from the production to the consumption of the food is taken care of.
                            <br/><br/>
                            We can provide a high level of safety, quality, and affordability by keeping directly in
                            touch with the provider and consumers. At <b>MealSloth</b>, our customers are the most
                            important part of the company, and we hope that you will be able to see that by your
                            experience with us. We hope you can join us and find some of the best home cooked meals
                            in your area! We believe sharing is caring, and will go to any extent to provide the
                            sharing opportunity for you all.
                            <br/><br/>
                        </h5>
                    </div>

                </div>
            </div>

        </section>

    {% include 'fragments/footer.html' %}

    </body>

</html>