<!DOCTYPE html>
<html lang="en">

    {% load staticfiles %}

    <head>
        <meta charset="UTF-8">
        <title>MealSloth</title>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    </head>

    <body>

        <section class="siren-blog__section-navbar">

            <div>
                <img src="{% static 'img/mealsloth-logo-small.png' %}" alt="mealsloth-logo" />
                <h5>MealSloth</h5>
                <table>
                    <tr>
                        <td><a href="./">Home</a></td>
                        <td><a href="./about">About</a></td>
                        <td><a href="./blog">Blog</a></td>
                        <td><a href="./contact">Contact</a></td>
                        <td class="siren-blog__section-navbar__td-space"></td>
                    </tr>
                </table>
            </div>

        </section>

    </body>

</html>